.login-container-profesor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0b1921;
  padding: 1rem;
}

.login-card-profesor {
  width: 100%;
  max-width: 32rem;
  background-color: #eeeeee;
  border-radius: 12px;
  border: 5px solid #0b1921;
  box-shadow: 8px 8px 0px 0px #334e5f;
}

.login-header-profesor {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #334e5f;
}

.login-title-profesor {
  font-size: 1.9rem;
  font-weight: 700;
  color: #334e5f;
  margin-bottom: 0.5rem;
}

.login-form-profesor {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group-profesor {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-label-profesor {
  font-size: 0.875rem;
  font-weight: 500;
  color: #334e5f;
  text-align: left;
}

.form-input-profesor {
  width: 100%;
  padding: 0.625rem 0.75rem;
  background-color: #fffefe;
  border: 1px solid #334e5f;
  border-radius: 8px;
}

.form-input-profesor::placeholder {
  color: #9ca3af;
}

.form-footer-profesor {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.login-button-profesor {
  padding: 0.625rem 1.25rem;
  background-color: #eeeeee;
  color: #334e5f;
  font-weight: 500;
  border: 1px solid #334e5f;
  border-radius: 0.375rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-button-profesor:hover {
  background-color: #334e5f;
  color: #eeeeee;
}

.forgot-password-profesor:hover {
  text-decoration: underline;
  cursor: pointer;
}

@media (min-width: 640px) {
  .login-card-profesor {
    padding: 2.5rem;
  }

  .form-footer-profesor {
    flex-direction: row;
    justify-content: space-between;
  }

  .login-button-profesor {
    width: auto;
  }
}
