.login-container-profesor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color:rgb(248 250 252);
  padding: 1rem;
}

.login-card-profesor {
  width: 100%;
  max-width: 28rem;
  background-color: white;
  border-radius: 10px;
  border: 1px solid #eeeeee;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.login-header-profesor {
  text-align: center;
  margin-bottom: 1.5rem;
  border-bottom: 1px solid #000000;
}

.login-title-profesor {
  font-size: 1.9rem;
  font-weight: 700;
  color: #000000;
  margin-bottom: 0.5rem;
}

.login-form-profesor {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.form-group-profesor {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
  text-align: left;
  font-size: 0.9rem;
}

.form-input-profesor {
  width: 100%;
  padding: 0.5rem 0.75rem;
  background-color: #fffefe;
  border: 1px solid #171717;
  border-radius: 10px;
}

.form-input-profesor::placeholder {
  color: #9ca3af;
}

.login-button-profesor {
  padding: 0.5rem 1.25rem;
  min-width: 100%;
  background-color: #171717;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}

.login-button-profesor:hover {
  background-color: #2E2E2E;
}

@media (min-width: 640px) {
  .login-card-profesor {
    padding: 2.5rem;
  }

  .form-footer-profesor {
    flex-direction: row;
    justify-content: space-between;
  }

  .login-button-profesor {
    width: auto;
  }
}
